.skills {
  animation: fadein 1.5s ease-out;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 80%;
  margin: auto;
  align-self: center;
  text-align: center;
  align-items: flex-start;
}

.skills .currentSkills, .skills .futureSkills {
  margin: 1px;
  background-color: #ff4d4b;
  flex-wrap: wrap;
  min-height: 520px;
  display: flex;
  justify-content: flex-start;
}
/* line 37, ../compass/sass/views/_about.scss */
.skills .currentSkills .skills-title, .skills .futureSkills .skills-title {
  width: 100%;
  margin: 5px auto;
  max-height: 100px;
}
/* line 44, ../compass/sass/views/_about.scss */
.skills .skills-logo-box {
  margin: 10px auto;
  min-height: 90px;
  min-width: 110px;
  color: #2E2E2E;
}
/* line 49, ../compass/sass/views/_about.scss */
.skills .skills-logo-box .skills-logo {
  display: block;
  text-align: center;
  max-height: 80px;
  max-width: 135px;
  width: auto;
  margin: 10px auto;
  filter: grayscale(95%);
  transition: all .5s;
}
/* line 60, ../compass/sass/views/_about.scss */
.skills .skills-logo-box .skills-logo:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}