.project-gall{
    min-width:360;
    height:300px;
    position:relative;
    list-style:none;
    margin:0 auto;
    padding:0;
    background: #ccc;
    border-radius: 7px;
}
.project-gall img{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:300px;
    background: no-repeat scroll center center / cover;
}
#ballmer .slide-1{
    z-index: 5;
    -webkit-animation: slideshow 10s linear 0s infinite;
    animation: slideshow 10s linear 0s infinite;
}
#ballmer .slide-2{
    z-index: 4;
    -webkit-animation: slideshow 10s linear 2s infinite;
    animation: slideshow 10s linear 2s infinite;
}
#ballmer .slide-3{
    z-index: 3;
    -webkit-animation: slideshow 10s linear 4s infinite;
    animation: slideshow 10s linear 4s infinite;
}
#ballmer .slide-4{
    z-index: 2;
    -webkit-animation: slideshow 10s linear 6s infinite;
    animation: slideshow 10s linear 6s infinite;
}
#ballmer .slide-5{
    z-index: 1;
    -webkit-animation: slideshow 10s linear 8s infinite;
    animation: slideshow 10s linear 8s infinite;
}

#devmtn-store .slide-1{
    z-index: 5;
    -webkit-animation: slideshow 8s linear 5s infinite;
    animation: slideshow 8s linear 5s infinite;
}

#devmtn-store .slide-2{
    z-index: 4;
   /* -webkit-animation: slideshow 5s linear 5s infinite;
    animation: slideshow 5s linear 5s infinite;*/
}

#devmtn-travels .slide-1{
    z-index: 5;
    -webkit-animation: slideshow 10s linear 0s infinite;
    animation: slideshow 10s linear 0s infinite;
}
#devmtn-travels .slide-2{
    z-index: 4;
    -webkit-animation: slideshow 10s linear 2.5s infinite;
    animation: slideshow 10s linear 2.5s infinite;
}
#devmtn-travels .slide-3{
    z-index: 3;
    -webkit-animation: slideshow 10s linear 5s infinite;
    animation: slideshow 10s linear 5s infinite;
}
#devmtn-travels .slide-4{
    z-index: 2;
    -webkit-animation: slideshow 10s linear 7.5s infinite;
    animation: slideshow 10s linear 7.5s infinite;
}

#wideopen-clone .slide-1{
    z-index: 5;
    -webkit-animation: slideshow 10s linear 0s infinite;
    animation: slideshow 10s linear 0s infinite;
}
#wideopen-clone .slide-2{
    z-index: 4;
    -webkit-animation: slideshow 10s linear 2.5s infinite;
    animation: slideshow 10s linear 2.5s infinite;
}
#wideopen-clone .slide-3{
    z-index: 3;
    -webkit-animation: slideshow 10s linear 5s infinite;
    animation: slideshow 10s linear 5s infinite;
}
#wideopen-clone .slide-4{
    z-index: 2;
    -webkit-animation: slideshow 10s linear 7.5s infinite;
    animation: slideshow 10s linear 7.5s infinite;
}

a{
  text-align:center; 
  display:block;
}


@-webkit-keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}
@-moz-keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}
@-ms-keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}
@-o-keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}
@keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}
/*
@-webkit-keyframes fadeIn {
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    100% { opacity: 1; }
}

@-o-keyframes fadeIn {
    100% { opacity: 1; }
}

@keyframes fadeIn {
    100% { opacity: 1; }
}